<%- head %>
<br>

<h2>Tags 0:</h2>
<div id="table1" >
    <table>
        <tbody>
            <tr>
                <td>Table 1 First Row</td>
            </tr>
            <tr>
                <td>Table 1 Second Row</td>
            </tr>
        </tbody>
    </table>
</div>
<h2>Tags 1:</h2>
<div id="table2">
    <table>
        <tbody>
            <tr>
                <td>Table 2 First Row</td>
            </tr>
            <tr>
                <td>Table 2 Second Row</td>
            </tr>
        </tbody>
    </table>
</div>
<h2>Tags 2:</h2>
<div id="table3">
    <table>
        <tbody>
            <tr>
                <td>Table 3 First Row</td>
            </tr>
            <tr>
                <td>Table 3 Second Row</td>
            </tr>
        </tbody>
    </table>
</div><h2>Tags 3:</h2>
<div id="table4">
    <table>
        <tbody>
            <tr>
                <td>Table 4 First Row</td>
            </tr>
            <tr>
                <td>Table 4 Second Row</td>
            </tr>
        </tbody>
    </table>
</div><h2>Tags 4:</h2>
<div id="table5">
    <table>
        <tbody>
            <tr>
                <td>Table 5 First Row</td>
            </tr>
            <tr>
                <td>Table 5 Second Row</td>
            </tr>
        </tbody>
    </table>
</div>

<%- footer %>
<style>
    table{
        padding:5px 0;
        min-width:100px;
    }
    table tr td {
        border: 1px solid red;
    }
    
        </style>
<%- end %>