<%- head %>
        
        <h2 style="margin-left: 10vw;" class="display-2">Welcome Back! </h2>

        <div class="alert" style="display: <%= ont %>; margin-left: 10vw; margin-right: 10vw;" id="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p><%= message %></p>
        </div>

        <p style="margin-left: 10vw;">Don't have an account? Click <a href="/signup" class="classica">here</a> to create a new account.</p>
        <form method="post" action="/login" style="margin-left: 10vw; margin-right: 10vw;">
            <p><b>Username: </b></p>
            <input type="text" id="username" name="username" placeholder="Enter Your Username" required>
            <p id="indb"></p>
            <br>

            <p><b>Password:</b> </p>
            <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
            <button onclick="togglePasswordVisibility('password')" type="button">Show/Hide</button>
            <br>
            <p id="pwd"></p><br>
            <input onclick='logindone(true)' type="submit" value="Login!">
        </form>

        <%- footer %>

        <script>
            function logindone(cont=false) {
                entry = document.getElementById('username').value.trim();
                fetch('/allusernames').then(response => response.json()).then(data => {
                const usernameList = data.map(
                    user => `${user.username}`
                );
                if (usernameList.includes(entry) === false) {
                    document.getElementById('indb').innerHTML = '<b style="color: red;">Username not in database.</b>'
                } else {
                    document.getElementById('indb').innerHTML = ''
                    if (document.getElementById('password').value.trim() === '' || document.getElementById('password').value.trim().length < 5) {
                        document.getElementById('pwd').innerHTML = '<b style="color: red;">Enter your password please!</b>'
                    } else {
                        document.getElementById('pwd').innerHTML = ''
                        if (cont === true) {
                            clearInterval(loginchecker);
                        }
                    }
                }
                });
            }

            const loginchecker = setInterval(function() {
                logindone()
            }, 500);
        </script>
<%- end %>