<%- head %>
<div style="padding: 1em;" class="row">
    <div id="book-details">

    </div>
    <div class="row">
        <div class="col-sm">
            <h4>Want to read this book?</h4>
            <button>Add to Reading List</button>
        </div>
        <div class="col-sm">
            <h4>Liked this book?</h4>
            <button>Add to Liked List</button>
        </div>
        <div class="col-sm">
            <h4>Didn't enjoy this book?</h4>
            <button>Add to Disliked List</button>
        </div>
    </div>
    <br><br><br>
    <h4>If you read this book, please contribute to the community and rate it! For consistency, a 1 is the worst book you have ever read, and 5 is the best book you have ever read. Please provide a review!</h4>
    <div>
        <span><i class="fa fa-star" style="font-size: 1.5em; color: #e36714;" id="star1"></i></span> 
        <span><i class="fa fa-star" style="font-size: 1.5em; color: white;"  id="star2"></i></span> 
        <span><i class="fa fa-star" style="font-size: 1.5em; color: white;"  id="star3"></i></span> 
        <span><i class="fa fa-star" style="font-size: 1.5em; color: white;"  id="star4"></i></span> 
        <span><i class="fa fa-star" style="font-size: 1.5em; color: white;"  id="star5"></i></span>
    </div><br>

    <div class="row">
        <div class="col-lg-11">
            <input type="text" id="reviewtitle" placeholder="Title">
            <textarea id="reviewtext" style="width:100%">
Give a brief overview of the book:
...

What do you think about this book overall?
...

What parts did you like? Why do you like them?
- 
- 
- 

What parts did you dislike? How could they have been improved?
-
-
-

Who do you think would like this book?
- 
- 
- 

Who do you think would dislike this book?
- 
- 
- 

What biases do you think you have as a reader that others might want to consider?
- 
- 
- 
            </textarea>
        </div>
        <div class="col-lg-1">
            <button onclick="submitrating()">Rate it!</button>
        </div>
    </div>
    <br><br><br>
    <h2>Reviews</h2>
    <div id="reviews">

    </div>
</div>

<%- footer %>

<style>
    .selected {
        background-color: rgb(21, 21, 118);
        color: white;
        border-radius: 12px;
        border: 2px solid black;
        padding: 1px 5px 1px 5px;
        margin: 5px;
    }

</style>
<script src="script.js" async defer></script>
<script>
    star1 = document.getElementById('star1')
    star2 = document.getElementById('star2')
    star3 = document.getElementById('star3')
    star4 = document.getElementById('star4')
    star5 = document.getElementById('star5')
    decided = false;
    stars = 1;

    star2.addEventListener("mouseover", function( event ) {
        if (!decided) {
            star5.style.color = 'white'
            star4.style.color = 'white'
            star3.style.color = 'white'
            star2.style.color = '#e36714'
        }
    }, false);

    star2.addEventListener("mouseout", function( event ) {
        if (!decided) {
            star5.style.color = 'white'
            star4.style.color = 'white'
            star3.style.color = 'white'
            star2.style.color = 'white'
        }
    }, false);

    star3.addEventListener("mouseover", function( event ) {
        if (!decided) {
            star5.style.color = 'white'
            star4.style.color = 'white'
            star3.style.color = '#e36714'
            star2.style.color = '#e36744'
        }
    }, false);

    star3.addEventListener("mouseout", function( event ) {
        if (!decided) {
            star5.style.color = 'white'
            star4.style.color = 'white'
            star3.style.color = 'white'
            star2.style.color = 'white'
        }
    }, false);

    star4.addEventListener("mouseover", function( event ) {
        if (!decided) {
            star5.style.color = 'white'
            star4.style.color = '#e36714'
            star3.style.color = '#e36714'
            star2.style.color = '#e36744'
        }
    }, false);

    star4.addEventListener("mouseout", function( event ) {
        if (!decided) {
            star5.style.color = 'white'
            star4.style.color = 'white'
            star3.style.color = 'white'
            star2.style.color = 'white'
        }
    }, false);

    star5.addEventListener("mouseover", function( event ) {
        if (!decided) {
            star5.style.color = '#e36714'
            star4.style.color = '#e36714'
            star3.style.color = '#e36714'
            star2.style.color = '#e36744'
        }
    }, false);

    star5.addEventListener("mouseout", function( event ) {
        if (!decided) {
            star5.style.color = 'white'
            star4.style.color = 'white'
            star3.style.color = 'white'
            star2.style.color = 'white'
        }
    }, false);

    [star1, star2, star3, star4, star5].forEach(function(elem) {
        elem.addEventListener("click", function( event ) {
            if (!decided) {
                decided = true
                stars = parseInt(elem.id[4])
            } else {
                decided = false
            }
        }, false);
    })

    function submitrating() {
        if (decided) {
            let today = new Date().toLocaleDateString()

            var data = {
                rating: stars,
                review: document.getElementById('reviewtext').value,
                title: document.getElementById('reviewtitle').value,
                bookid: thebook[0],
                date: today
            }

            fetch('http://localhost:3000/ratebook', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    }
    
    const sleep = (milliseconds) => {
            return new Promise(resolve => setTimeout(resolve, milliseconds))
        }

    id = <%= id %>;
    var thebook = null;
    allTags = {}

    fetch('/alltags').then(response => response.json()).then(data => {
        for (each in data) {
            tag = data[each]
            allTags[tag.id] = tag.name
        }
    })

    fetch('/allbooks').then(response => response.json()).then(async (data) => {
        for (each in data) {
            book = data[each];
            if (book.id == id) {
                thebook = [book.id, book.title, book.tags, book.stars, book.teaser, book.author, book.isbn, book.minage]

                booktags = ''

                for (i in book.tags) {
                    tagname = allTags[parseInt(book.tags[i])]
                    while (tagname == undefined){
                        await sleep(100)
                        tagname = allTags[parseInt(book.tags[i])]
                    }

                    booktags += `<span class='selected'>${tagname}</span>`
                    if (i > 20) {
                        break;
                    }
                }

                if (book[7] != undefined) {
                    minage = book[7].split(':')[0]
                    reason = book[7].split(':').slice(1).join(":")
                    document.getElementById('book-details').innerHTML = `
                    <h2><b>ID #${book.id}:</b> ${book.title}</h2>
                    <h4 class="mb-2 text-muted">By ${book.author} | ${book.stars} stars</h4>
                    <div>${booktags}</div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="/images/stop.webp" style="width: 100%;">
                            <p style="font-size: 1em;">It is recommended for you to be over ${minage} to read this book.
                            ${reason}.</p>
                        </div>
                        <div class="col-sm-10">
                            <div>
                                ${book.teaser}
                            </div>
                        </div>
                    </div>
                    `
                } else {
                    document.getElementById('book-details').innerHTML = `
                    <h2><b>ID #${book.id}:</b> ${book.title}</h2>
                    <h4 class="mb-2 text-muted">By ${book.author} | ${book.stars} stars</h4>
                    <div>${booktags}</div>
                    <p>${book.teaser}</p>
                    `
                }

                fetch('/allreviews').then(response => response.json()).then(data => {
                    for (each in data) {
                        review = data[each]
                        if (review.book == thebook[0]) {
                            console.log(review)
                            document.getElementById('reviews').innerHTML += `
                        <div class="card">
                            <div class="card-body" style="margin: 0 !important;">
                                <h3 class="card-title titles">${review.title}</h3>
                                <h6 class="card-subtitle mb-2 text-muted">By ${review.username} on ${review.date} with ${review.stars} stars</h6>
                                <div class="card-text">${review.body} </div>
                            </div>
                        </div>
                            `
                        }
                    }
                })
            }
        }
    });
</script>
<%- end %>